@import url(partials.css);

.WApp-btn {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}

.WApp-btn:hover {
  background-color: #FFF;
  color: #25d366;
  transition: 0.3s ease-in-out;
}

.float-btn {
  margin-top: 15px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 60px;
}


/*-----------------------------------Top Bar-----------------------------------*/

.top_bar {
  display: flex;
  width: 100%;
  background-color: var(--green);
}

.call_us {
  width: 85%;
}

.call_mail {
  width: 15%;
}

.call_mail a,
.call_us a {
  font-size: 15px;
  letter-spacing: 0.5px;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.call_mail {
  background-color: var(--royal-green);
}

.call_mail:hover,
.call_us :hover {
  color: var(--light-bg);
}

/*-----------------------------------Navigation Bar-----------------------------------*/

.navigation {
  height: 70px;
  z-index: 3;
  position: sticky;
  background-color: var(--light-bg);
  color: var(--black);
  box-shadow: 0 0.2px 4px var(--royal-green);
}

.brand {
  position: absolute;
  float: left;
  line-height: 70px;
}

.brand a,
.brand a:visited {
  color: var(--royal-green);
  text-decoration: none;
}

.header_logo {
  width: 230px;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;

}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  padding: 0 25px;
  line-height: 70px;
  color: var(--royal-green);
  background: var(--royal-green);
  text-decoration: none;
}

nav ul li a {
  background: transparent;
  color: var(--royal-green);
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: var(--green);
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: " \025BE";
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

#navbar-toggle {
  visibility: hidden;
}

/* Mobile navigation */
.nav-mobile {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 55px;
  width: 70px;
}

@media only screen and (max-width: 800px) {

  nav ul li a:visited {
    color: white;
  }

  .navigation {
    height: 70px;
  }

  .nav-mobile {
    display: block;
  }

  .brand {
    margin: 0px 5px;
  }

  #navbar-toggle {
    visibility: visible;
  }

  nav {
    width: 100%;
    padding: 70px 0 0px;
    box-shadow: 0 0.2px 4px var(--royal-green);
  }

  nav ul {
    display: none;
  }

  nav ul li {
    float: none;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background: var(--light-bg);
  }

  nav ul li ul li a {
    padding-left: 30px;
  }
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
}

#navbar-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#navbar-toggle span,
#navbar-toggle span:before,
#navbar-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 30px;
  background: var(--royal-green);
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#navbar-toggle span:before {
  top: -10px;
}

#navbar-toggle span:after {
  bottom: -10px;
}

#navbar-toggle.active span {
  background-color: transparent;
}

#navbar-toggle.active span:before,
#navbar-toggle.active span:after {
  top: 0;
}

#navbar-toggle.active span:before {
  transform: rotate(45deg);
}

#navbar-toggle.active span:after {
  transform: rotate(-45deg);
}

/*-----------------------------------Main Carousel-----------------------------------*/


@media only screen and (max-width: 800px) {}

@media only screen and (min-width: 800px) {}

/*-----------------------------------Theraphy-----------------------------------*/

.theraphy {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--roboto-slap);
  padding: 40px 180px 20px 180px;
}

.theraphy .sub-topic {
  font-size: 2rem;
  color: var(--text-gray);
}

.divider {
  padding: 10px;
  width: 150px;
}

.theraphy p {
  padding: 0px 100px;
  color: var(--secondry-text-gray);
  text-align: center;
  line-height: auto;
}

.theraphy-img {
  position: relative;
  padding: 10px 0px 0px 0px;
  text-align: center;
}

.am-prev,
.am-next {
  font-size: 30px;
  color: var(--secondry-text-gray);
  border: none;
  background-color: unset;
}

.am-prev:hover,
.am-next:hover {
  color: black;
  transition: 0.2s ease-in-out;
}

.am-prev {
  position: absolute;
  top: 30%;
  left: -100px;
}

.am-next {
  position: absolute;
  top: 30%;
  right: -100px;
}


@media only screen and (max-width: 800px) {

  .theraphy {
    padding: 30px 0px;
  }

  .theraphy .sub-topic {
    font-size: 1.7rem;
  }

  .theraphy p {
    padding: 0px 20px;
  }

  .theraphy-img {
    padding: 10px 50px;
  }

  .am-prev {
    position: relative;
  }
  
  .am-next {
    position: relative;
  }

}

@media only screen and (min-width: 800px) {}

/*-----------------------------------More About Us-----------------------------------*/

.more-about-us {
  font-family: var(--roboto-slap);
  display: flex;
  align-items: flex-start;
  padding: 40px auto;
  background-color: var(--light-bg);
}

.more-about-us img {
  width: 50%;
}

.more-about-us-contents {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 30px 20px 30px 30px;
}

.more-about-us-title {
  color: #212121;
  font-size: 2rem;
}

.more-about-us-contents {
  color: var(--secondry-text-gray);
}

.more-about-us-contents img {
  width: 150px;
  margin: 10px 0px;
}

.more-about-us-welcome {
  font-size: 1.2rem;
  font-style: italic;
  padding: 0px 0px 15px 0px;
}

.more-about-us-contents p {
  font-style: italic;
}

.read-more {
  margin-top: 20px;
  width: 150px;
}

@media (max-width: 576px) {
  .more-about-us {
    display: flex;
    flex-direction: column;
  }

  .more-about-us img {
    width: 100%;
  }

  .more-about-us-contents {
    width: 100%;
    margin: 0px;
    padding: 20px;
  }

  .more-about-us-title {
    font-size: 1.7rem;
  }

  .more-about-us-contents img {
    width: 150px;
    margin: 10px 0px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {}

/*-----------------------------------Therapist-----------------------------------*/

.Therapist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px 0px 100px;
}

.Therapist .sub-topic {
  font-size: 2rem;
  color: var(--text-gray);
}

.Therapist img {
  margin: 10px auto 20px auto;
  width: 150px;
}

.therapist-profile-card {
  padding: 0px 20px;
  border-radius: 20px;
  background-color: aliceblue;
  display: flex;
  flex-direction: row-reverse;
  -webkit-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 0px 26px -4px rgba(0, 0, 0, 0.18);
}

.therapist-profile-card img {
  width: 300px;
  padding: 15px;
  border-radius: 30px;
}

.therapist-profile-card-contents {
  display: flex;
  margin: 20px;
  flex-direction: column;
  text-align: right;
}

.therapist-profile-card-content p {
  text-align: justify;
}

@media (max-width: 576px) {

  .Therapist {
    padding: 50px 20px;
  }

  .therapist-profile-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .therapist-profile-card img {
    width: 50%;
    border-radius: unset;
    clip-path: circle(39%);
  }

  .therapist-profile-card-contents {
    padding-bottom: 20px;
    display: flex;
    margin: auto;
    text-align: center;
  }
}

@media (min-width: 577px) and (max-width: 992px) {}

/*-----------------------------------Accordian FAQ-----------------------------------*/

.faq-gallery {
  display: flex;
  align-items: baseline;
  padding: 0px 20px 40px 20px;
}

.faq {
  width: 40%;
  text-align: left;
}

.faq_title {
  display: flex;
  align-items: baseline;
  justify-content: left;
  margin: 0px 0px 20px 0px;
  border-bottom: var(--green) solid 4px;
}

.pin {
  font-size: 23px;
  rotate: -30deg;
  padding: 0px 10px;
}

.faq_title h2 {
  font-weight: 800;
}

.questions {
  text-align: left;
}

.qus_item {
  background-color: #f1f1f1;
}

.qus_btn {
  width: 100%;
  color: white;
  background-color: var(--green);
  font-size: 15px;
  display: flex;
  align-items: center;
}

.qus_btn:hover {
  color: white;
}

.qus_btn strong {
  padding: 0px 15px;
  font-size: 40px;
  background-color: var(--royal-green);
}

.qus_btn p {
  margin: 0px 20px;
}

/*-----------------------------------Gallery-----------------------------------*/

.gallery {
  width: 60%;
  margin-left: 20px;

}

.gallery_title {
  display: flex;
  align-items: baseline;
  justify-content: left;
  margin: 50px 0px 20px 0px;
  border-bottom: var(--green) solid 4px;
}

.gallery_icon {
  color: var(--green);
  font-size: 23px;
  padding: 0px 10px;
}

.gallery_title h2 {
  font-weight: 800;
}

.gallery-grp {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

.gallery-item {
  width: 99%;
}

@media (max-width: 576px) {

  .faq {
    width: 100%;
  }

  .gallery {
    width: 100%;
    margin-left: unset;
  }

  .faq-gallery {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
  }

  .gallery-item {
    width: 100%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {}

/*-----------------------------------Testimonials-----------------------------------*/

.testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 20px 10px;
  background-image: url(../assets/msg_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


.testimonials .sub-topic {
  position: relative;
  font-size: 2rem;
  color: var(--text-gray);
}

.testimonials img {
  margin: 10px auto;
  width: 150px;
}

.testimonial_content {
  padding: 20px 150px;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  height: 250px;
  padding: 30px;
  border: 1px solid var(--green);
  ;
  border-radius: 10px;
  background-color: var(--light-bg);
}


.testimonial-card strong {
  font-size: 100px;
  margin: 40px 0px 5px 0px;
  line-height: 0;
  display: flex;
  justify-content: start;
}

@media (max-width: 576px) {

  .testimonials .sub-topic {
    font-size: 1.7rem;
  }

  .testimonial_content {
    padding: 20px 0px;
  }

  .testimonial-card {
    margin: 0px 30px;
    height: 200px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {}

/*-----------------------------------In Touch-----------------------------------*/

.contact {
  color: white;
  display: flex;
  background-color: var(--green);
  padding: 60px;
}

.map {
  width: 80%;
}

.in-touch {
  padding: 0px 50px;
  width: 60%;
}

.in-touch h2 {
  font-weight: 800;
}

.in-touch p {
  font-style: italic;
}

.address p {
  margin-left: 40px;
}

.phone p,
.mail p {
  margin-left: 38px;

}


@media (max-width: 576px) {
  .contact {
    flex-direction: column;
    padding: 20px;
  }

  .map {
    width: 100%;
  }

  .in-touch {
    padding: 30px 0px;
    width: 100%;
  }

}

@media (min-width: 577px) and (max-width: 992px) {}

/*-----------------------------------Contact Us-----------------------------------*/

.contact-us{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.contact-us h2{
  padding-bottom: 10px ;
}

.form{
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #eff3f0;
}

form{
  padding: 50px 0px;
  width: 70%;
}

.div1, .div2, .div3, .div4, .div5{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label{
  padding-bottom: 5px;
}

input, textarea{
  outline: none;
  border: none;
  background-color: unset;
  border-bottom: var(--royal-green) solid 2px;
}

textarea{
  height: 150px;
}

.submit{
  width: 100%;
  border: 1px solid var(--royal-green);
  background-color: var(--green);
  letter-spacing: 1px;
  font-weight: 600;
  color: #FFF;
  margin-top: 10px;
  padding: 10px;
}

.submit:hover{
  border: 1px solid var(--green);
  background-color: var(--royal-green);
}

@media (max-width: 576px) {

  .contact-us{
    padding: 50px 40px;
  }
  .form{
    width: 100%;
  }
  
  form{
    width: 90%;
  }
}

@media (min-width: 577px) and (max-width: 992px) {
  
}

/*-----------------------------------Footer-----------------------------------*/

.footer {
  width: 100%;
  display: flex;
  background-color: var(--royal-green);
  color: white;
  padding: 20px 0px 10px 0px;
}

.rights {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.social_icons {
  display: flex;
  justify-content: center;
}

.fa-facebook-f,
.fa-youtube,
.fa-instagram {
  margin: auto 5px;
  width: 15px;
  height: 15px;
  color: var(--royal-green);
  background-color: white;
  padding: 5px;
  border-radius: 100%;
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .fa-facebook-f,
  .fa-youtube,
  .fa-instagram {
    margin: 0px 5px;
  }
}

@media (min-width: 577px) and (max-width: 992px) {}